{% extends "base.html" %}
{% block title %}My Files{% endblock %}
{% block content %}
<h2>My Files</h2>
<ul>
    {% for file in files %}
        <li>{{ file.filename }} - <a href="{{ url_for('download_file', file_id=file.id) }}">Download</a> - 
        <form method="POST" action="{{ url_for('delete_file', file_id=file.id) }}" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
        </li>
    {% endfor %}
</ul>
<a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}
